/* Timer */

.Timer {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.LapTime {
  text-align: right;
  width: 70%;
}

.lap,
.saveTime {
  width: 50%;
  padding: 5px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

#cert {
  font-size: 0.8rem;
}
.LapTimeListDiv {
  width: 45%;
  margin: 0 auto;
}

.Stopwatch {
  background-color: lightgray;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.LapTimeListHeaders {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.LapTimeListHeaders span {
  width: 100%;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

#stopWatch {
  background-color: lightgrey;
  padding: 0.8rem;
  width: 60%;
  margin: 0 auto;
}
