html {
  background-color: #282c34;
  color: white;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Timer */

.Timer {
  font-size: 4rem;
}

.App-header {
  background-image: url("./imgs/cube-x-large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  color: black;
}
.welcome {
  text-align: left;
  padding: 1.5rem;
  width: 50%;
}
.welcome p {
  font-size: 1.2rem;
}
.LapTime {
  text-align: center;
}

.lap,
.saveTime {
  width: 50%;
  padding: 5px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
.scrambleDiv {
  display: flex;
  align-items: flex-end;
  height: auto;
  background-color: lightgray;
  font-size: 2rem;
  display: block;
  padding: 1rem;
  width: 100%;
}
#cert {
  font-size: 0.9rem;
}
.LapTimeListDiv {
  width: 45%;
  margin: 0 auto;
}

.Stopwatch {
  background-color: lightgray;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
#createdBy {
  font-size: 1rem;
  text-align: right;
  padding: 1rem;
  margin-top: 2.5rem;
}
#createdBy a {
  color: blue;
}
.LapTimeListHeaders {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.moveSpan {
  padding: 0.45rem;
  border: 1px solid darkgray;
  display: inline-block;
}
.scrambleMoveDiv {
  width: auto;
}

@media screen and (min-width: 1080px) {
  .scrambleDiv {
    width: 85%;
  }
}
@media screen and (min-width: 2000px) {
  .scrambleDiv {
    width: 20%;
  }
}
