html {
  background-color: #282c34;
  color: white;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Timer */

.Timer {
  font-size: 4rem;
}

.App-header {
  background-image: url("./imgs/cube-large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  color: black;
}
.welcome {
  text-align: left;
  padding: 1.5rem;
}
.LapTime {
  text-align: center;
}

.LapTime__lap,
.LapTime__time {
  width: 50%;
  padding: 5px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
